<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="#"><img src="assets/logo.svg" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">New</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="#">Popular</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="#">Trending</a>
          </li>
        
        <li class="nav-item">
          <a class="nav-link ">Categories</a>
        </li>
      </ul>
      
    </div>
  </nav>

  <section class="mb-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 col-sm-12 ">
                <img class="mb-5" width="100%" src="./assets/image-web-3-desktop.jpg">

                <div class=" row">
                    <div class="col-md-6 col-sm-12 mt-5">
                        <p class="navs">The Bright <br> Future Of<br> Web 3.0 ?</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p>We dive into evolution of the web that<br> claims to put the power of the platforms back<br>into the hands of the people. But is it really fulfilling its promise? </p>
                    <button class="btn btn-dark btn-block">READ MORE</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="info">
                    <h1 class="p-4">NEW</h1>

                    <p class="px-4">Hydrogen VS Electric Cars<br><span class="text-muted">Will hydrogen-fueled cars ever catch up to EVs?</span></p>
                    
                    <hr>
                    <p class="px-4">The Downsides of AI Artistry<br><span class="text-muted">Will hydrogen-fueled cars ever catch up to EVs?</span></p>
                    
                    <hr>
                    <p class="px-4">Is VC Funding Drying Up?<br><span class="text-muted">Will hydrogen-fueled cars ever catch up to EVs?</span></p>
                    
                    
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="mt-5 container">
    <ul class="list-unstyled ">
        <li class="media">
          <img width="15%" src="assets/image-retro-pcs.jpg" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <p>All my girls vintage Chanel baby. So you can have your cake. Tonight, tonight, tonight, I'm walking on air. Slowly swallowing down my fear, yeah yeah. Growing fast into a bolt of lightning. So hot and heavy, 'Til dawn. That fairy tale ending with a knight in shining armor. Heavy is the head that wears the crown.</p>
          </div>
        </li>
        <li class="media my-4">
          <img width="15%" src="assets/image-top-laptops.jpg" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <p>Maybe a reason why all the doors are closed. Cause once you’re mine, once you’re mine. Be your teenage dream tonight. Heavy is the head that wears the crown. It's not even a holiday, nothing to celebrate. A perfect storm, perfect storm.</p>
          </div>
        </li>
        <li class="media">
          <img width="15%" src="assets/image-gaming-growth.jpg" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <p>Are you brave enough to let me see your peacock? There’s no going back. This is the last time you say, after the last line you break. At the eh-end of it all.</p>
          </div>
        </li>
      </ul>
  </section>
